/* PAGE SETTINGS */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body div {
    width: 100%;
}
p {
    text-align: justify;
}
/* HEADER IMG AND INTRODUCTION */
#header {
    height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: black;
}
#header div {
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 60px;
    font-family: 'Noto Serif', serif;
}
#header img {
    width: 100%;
    opacity: 0.7;
}
/* NAVIGATION BAR */
#navigationBar {
    background-color: black;
    position: relative;
    font-family: sans-serif;
}
#navigationBarList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#navigationBarList li {
    overflow: hidden;
}
#navigationBarList li a {
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid white;
    background-color: black;
    color:white;
    text-decoration: none;
}
#navigationBarList li a:hover {
    background-color: blue;
    transition: background-color 0.5s ease;
}
.dropdownContent {
    position: absolute;
    padding: 0;
    display: none;
    overflow: hidden;
    width: inherit;
    min-width: 150px;
}
.activeTab {
    background-color: green !important;
}
/* CURRENTLY LEARNING + RANDOM QUOTE */
#currentlyLearning, #randomQuote {
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
}
#randomQuote {
    left: 10px;
    width: 200px;
}
/* MAIN CONTENT */
.mainContainer {
    justify-content: left;
    height: 100%;
    background-color: white;
    margin-top: 50px;
    display: none;
}
.active {
    display:flex;
}
/* MAIN IMG - LEFT SIDE */
.mainImage {
    width: 30%;
    min-width: 200px;
    height: 100%;
}
.mainImage img {
    display: block;
    margin: auto;
    padding: 5px;
    max-width: 100%;
}
/* MAIN CONTENT - RIGHT SIDE */
.mainContent {
    width: 70%;
    max-width: 700px;
    height: 100%;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;
}
h1 {
    margin-top: 0;
}
/* FIXED CONTACT */
#contactSide {
    position: fixed;
    right: 0;
    bottom: 25%;
    width: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#contactSide a img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}
/* MAIN CONTENT SECTIONS */
/* ABOUT ME */
/* DOWNLOAD CV */
#selectCV{
    width: 200px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
#selectCV div {
    width: 49%;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    cursor: pointer;
}
.CVselected {
    background-color: lightseagreen;
}
/* WORK EXPERIENCE */
#linkToDownloadCV {
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}
#listOfJobs li {
    margin-bottom: 8px;
    }
#listOfJobs li span{
    border-bottom: 1px solid black;
    cursor: pointer;
}
#listOfJobs p {
    display: none;
}
/* PROGRAMS */
#listOfPrograms{
    padding-left: 0;
    list-style-type: none;
}
#listOfPrograms li span{
    border-bottom: 1px solid black;
    cursor: pointer;
    font-size: 1.1em;
}
#listOfPrograms p {
    padding-left: 20px;
}
/* CUBE */
#staticCube {
    height: 50px;
    width: 50px;
    background-color: red;
    position: relative;
    margin: 60px;
}
.movingCube {
    animation-duration: 60s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.cubeSalmon {
    animation-name: cubeSalmon;
}
.cubeBlack {
    animation-name: cubeBlack;
}
.cubeBlue {
    animation-name: cubeBlue;
}
.cubeGreen {
    animation-name: cubeGreen;
}
@keyframes cubeSalmon {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    5% {
        background-color: green;
        left: 50px;
        top: 0px;
        transform: rotate(720deg);
    }
    10% {
        background-color: blue;
        left: 100px;
        top: 0px;
        transform: rotate(0deg);
    }
    15% {
        background-color: black;
        left: 120px;
        top: 75px;
        transform: rotate(720deg);
    }
    20% {
        background-color: orange;
        left: 180px;
        top: 100px;
        transform: rotate(0deg);
    }
    25% {
        background-color: red;
        left: 220px;
        top: 75px;
        transform: rotate(720deg);
    }
    30% {
        background-color: green;
        left: 260px;
        top: 35px;
        transform: rotate(0deg);
    }
    35% {
        background-color: blue;
        left: 300px;
        top: 0px;
        transform: rotate(720deg);
    }
    40% {
        background-color: black;
        left: 350px;
        top: 0px;
        transform: rotate(0deg);
    }
    45% {
        background-color: orange;
        left: 380px;
        top: 40px;
        transform: rotate(720deg);
    }
    50% {
        background-color: red;
        left: 350px;
        top: 80px;
        transform: rotate(0deg);
    }
    55% {
        background-color: green;
        left: 320px;
        top: 100px;
        transform: rotate(720deg);
    }
    60% {
        background-color: blue;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    65% {
        background-color: black;
        left: 220px;
        top: 50px;
        transform: rotate(720deg);
    }
    70% {
        background-color: orange;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    75% {
        background-color: red;
        left: 230px;
        top: 50px;
        transform: rotate(720deg);
    }
    80% {
        background-color: green;
        left: 180px;
        top: 30px;
        transform: rotate(0deg);
    }
    85% {
        background-color: blue;
        left: 130px;
        top: 10px;
        transform: rotate(720deg);
    }
    90% {
        background-color: black;
        left: 80px;
        top: 0px;
        transform: rotate(0deg);
    }
    95% {
        background-color: orange;
        left: 30px;
        top: 0px;
        transform: rotate(720deg);
    }
    100% {
        background-color: salmon;
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
    }
}
@keyframes cubeBlack {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    5% {
        background-color: green;
        left: 50px;
        top: 0px;
        transform: rotate(720deg);
    }
    10% {
        background-color: blue;
        left: 100px;
        top: 0px;
        transform: rotate(0deg);
    }
    15% {
        background-color: black;
        left: 120px;
        top: 75px;
        transform: rotate(720deg);
    }
    20% {
        background-color: orange;
        left: 180px;
        top: 100px;
        transform: rotate(0deg);
    }
    25% {
        background-color: red;
        left: 220px;
        top: 75px;
        transform: rotate(720deg);
    }
    30% {
        background-color: green;
        left: 260px;
        top: 35px;
        transform: rotate(0deg);
    }
    35% {
        background-color: blue;
        left: 300px;
        top: 0px;
        transform: rotate(720deg);
    }
    40% {
        background-color: black;
        left: 350px;
        top: 0px;
        transform: rotate(0deg);
    }
    45% {
        background-color: orange;
        left: 380px;
        top: 40px;
        transform: rotate(720deg);
    }
    50% {
        background-color: red;
        left: 350px;
        top: 80px;
        transform: rotate(0deg);
    }
    55% {
        background-color: green;
        left: 320px;
        top: 100px;
        transform: rotate(720deg);
    }
    60% {
        background-color: blue;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    65% {
        background-color: black;
        left: 220px;
        top: 50px;
        transform: rotate(720deg);
    }
    70% {
        background-color: orange;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    75% {
        background-color: red;
        left: 230px;
        top: 50px;
        transform: rotate(720deg);
    }
    80% {
        background-color: green;
        left: 180px;
        top: 30px;
        transform: rotate(0deg);
    }
    85% {
        background-color: blue;
        left: 130px;
        top: 10px;
        transform: rotate(720deg);
    }
    90% {
        background-color: black;
        left: 80px;
        top: 0px;
        transform: rotate(0deg);
    }
    95% {
        background-color: orange;
        left: 30px;
        top: 0px;
        transform: rotate(720deg);
    }
    100% {
        background-color: black;
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
    }
}
@keyframes cubeBlue {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    5% {
        background-color: green;
        left: 50px;
        top: 0px;
        transform: rotate(720deg);
    }
    10% {
        background-color: blue;
        left: 100px;
        top: 0px;
        transform: rotate(0deg);
    }
    15% {
        background-color: black;
        left: 120px;
        top: 75px;
        transform: rotate(720deg);
    }
    20% {
        background-color: orange;
        left: 180px;
        top: 100px;
        transform: rotate(0deg);
    }
    25% {
        background-color: red;
        left: 220px;
        top: 75px;
        transform: rotate(720deg);
    }
    30% {
        background-color: green;
        left: 260px;
        top: 35px;
        transform: rotate(0deg);
    }
    35% {
        background-color: blue;
        left: 300px;
        top: 0px;
        transform: rotate(720deg);
    }
    40% {
        background-color: black;
        left: 350px;
        top: 0px;
        transform: rotate(0deg);
    }
    45% {
        background-color: orange;
        left: 380px;
        top: 40px;
        transform: rotate(720deg);
    }
    50% {
        background-color: red;
        left: 350px;
        top: 80px;
        transform: rotate(0deg);
    }
    55% {
        background-color: green;
        left: 320px;
        top: 100px;
        transform: rotate(720deg);
    }
    60% {
        background-color: blue;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    65% {
        background-color: black;
        left: 220px;
        top: 50px;
        transform: rotate(720deg);
    }
    70% {
        background-color: orange;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    75% {
        background-color: red;
        left: 230px;
        top: 50px;
        transform: rotate(720deg);
    }
    80% {
        background-color: green;
        left: 180px;
        top: 30px;
        transform: rotate(0deg);
    }
    85% {
        background-color: blue;
        left: 130px;
        top: 10px;
        transform: rotate(720deg);
    }
    90% {
        background-color: black;
        left: 80px;
        top: 0px;
        transform: rotate(0deg);
    }
    95% {
        background-color: orange;
        left: 30px;
        top: 0px;
        transform: rotate(720deg);
    }
    100% {
        background-color: blue;
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
    }
}
@keyframes cubeGreen {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    5% {
        background-color: green;
        left: 50px;
        top: 0px;
        transform: rotate(720deg);
    }
    10% {
        background-color: blue;
        left: 100px;
        top: 0px;
        transform: rotate(0deg);
    }
    15% {
        background-color: black;
        left: 120px;
        top: 75px;
        transform: rotate(720deg);
    }
    20% {
        background-color: orange;
        left: 180px;
        top: 100px;
        transform: rotate(0deg);
    }
    25% {
        background-color: red;
        left: 220px;
        top: 75px;
        transform: rotate(720deg);
    }
    30% {
        background-color: green;
        left: 260px;
        top: 35px;
        transform: rotate(0deg);
    }
    35% {
        background-color: blue;
        left: 300px;
        top: 0px;
        transform: rotate(720deg);
    }
    40% {
        background-color: black;
        left: 350px;
        top: 0px;
        transform: rotate(0deg);
    }
    45% {
        background-color: orange;
        left: 380px;
        top: 40px;
        transform: rotate(720deg);
    }
    50% {
        background-color: red;
        left: 350px;
        top: 80px;
        transform: rotate(0deg);
    }
    55% {
        background-color: green;
        left: 320px;
        top: 100px;
        transform: rotate(720deg);
    }
    60% {
        background-color: blue;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    65% {
        background-color: black;
        left: 220px;
        top: 50px;
        transform: rotate(720deg);
    }
    70% {
        background-color: orange;
        left: 280px;
        top: 80px;
        transform: rotate(0deg);
    }
    75% {
        background-color: red;
        left: 230px;
        top: 50px;
        transform: rotate(720deg);
    }
    80% {
        background-color: green;
        left: 180px;
        top: 30px;
        transform: rotate(0deg);
    }
    85% {
        background-color: blue;
        left: 130px;
        top: 10px;
        transform: rotate(720deg);
    }
    90% {
        background-color: black;
        left: 80px;
        top: 0px;
        transform: rotate(0deg);
    }
    95% {
        background-color: orange;
        left: 30px;
        top: 0px;
        transform: rotate(720deg);
    }
    100% {
        background-color: green;
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
    }
}