/* PAGE SETTINGS */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body div {
    width: 100%;
}
/* HEADER IMG AND INTRODUCTION */
#header {
    height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#header div {
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 40px;
}
#header img {
    width: 100%;
}
/* NAVIGATION BAR */
#navigationBar {
    background-color: black;
    position: relative;
}
#navigationBarList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#navigationBarList li {
    overflow: hidden;
}
#navigationBarList li a {
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid white;
    background-color: black;
    color:white;
    text-decoration: none;
}
#navigationBarList li a:hover {
    background-color: blue;
    transition: background-color 0.5s ease;
}
.dropdownContent {
    position: absolute;
    padding: 0;
    display: none;
    overflow: hidden;
    width: inherit;
    min-width: 150px;
}
.activeTab {
    background-color: green !important;
}
/* CURRENTLY LEARNING + RANDOM QUOTE */
#currentlyLearning, #randomQuote {
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
}
#randomQuote {
    left: 10px;
    width: 200px;
}
/* MAIN CONTENT */
.mainContainer {
    justify-content: left;
    height: 100%;
    background-color: white;
    margin-top: 50px;
    display: none;
}
.active {
    display:flex;
}
/* MAIN IMG - LEFT SIDE */
.mainImage {
    width: 30%;
    min-width: 200px;
    height: 100%;
}
.mainImage img {
    display: block;
    margin: auto;
    padding: 5px;
    max-width: 100%;
}
/* MAIN CONTENT - RIGHT SIDE */
.mainContent {
    width: 70%;
    max-width: 700px;
    height: 100%;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;
}
h1 {
    margin-top: 0;
}
/* FIXED CONTACT */
#contactSide {
    position: fixed;
    right: 0;
    bottom: 25%;
    width: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#contactSide a img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}
/* MAIN CONTENT SECTIONS */
/* DOWNLOAD CV */
#selectCV{
    width: 200px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
#selectCV div {
    width: 49%;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    cursor: pointer;
}
.CVselected {
    background-color: lightseagreen;
}
/* WORK EXPERIENCE */
#linkDownloadCV {
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}
#listOfJobs li {
    margin-bottom: 8px;
    }
#listOfJobs li span{
    border-bottom: 1px solid black;
    cursor: pointer;
}
#listOfJobs p {
    text-align: justify;
    display: none;
}